body {
  color: #333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

body{
  margin: 0;
  padding: 0;
}


.Header {
    width: 100%;
    background-color: #ffffff;
    display: grid;
    height: 70px;
}

@media screen and (max-width: 1080px) {
  .Header {
    background-color: #fff;
    z-index: 10;
  }
}


@media screen and (max-width: 414px) {
  .Header {
    height: 48px;
    padding: 0;
  }
}

.Header .Header--common {
    box-shadow: 0px 15px 20px rgba(0,0,0,.05);
}

@media screen and (max-width: 1080px){
    .Header--common{
         position: fixed;
    }
}

.HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 36px;
    max-width: 100%;
    position: relative;
}


@media screen and (max-width: 767px) {
  .HeaderContainer {
      max-width: 100%;
      margin: 0 16px;
  }
}


@media screen and (min-width: 768px) {
  .HeaderLogo {
      transition: opacity .2s;
  }
}

.HeaderLogo__image--pc{
    display: block;
    height: 20px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--pc {
        display:none;
    }
}

.HeaderLogo__image--sp {
    display: none;
    height: 16px;
    width: auto
}

@media screen and (max-width: 767px) {
    .HeaderLogo__image--sp {
        display:block; 
    }
}


.HeaderNav {
    display: inline-flex;
    align-items: center;
    align-self: center;
}


@media screen and (max-width: 1080px) {
    .list-item {
        overflow-y:scroll;
        position: fixed;
        top: 60px;
        left: 100%;
        width: 100%;
        display: block;
        padding-top: 20px;
        padding-bottom: 75px;
        transition: transform 0.5s;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.8);
        -webkit-overflow-scrolling: touch;
        height: 100%
    }
}

@media screen and (max-width: 767px) {
    .list-item {
        top:70px
    }
}

@media screen and (max-width: 414px) {
    .list-item {
        top:48px
    }
}

@media screen and (max-width: 1080px) {
    .list-item.is-active {
        transform:translate3d(-100%, 0, 0)
    }
}

@media screen and (max-width: 1080px) {
    .list-item.is-scroll {
        top:60px;
        bottom: 0
    }
}

@media screen and (max-width: 767px) {
    .list-item.is-scroll {
        top:52px;
        bottom: 0
    }
}

.list-item{
    list-style: none;
    margin-right: 45px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .Header-link {
        transition:opacity 0.2s
    }

    .Header-link:hover{
        opacity: 0.8;
    }
}

@media screen and (max-width: 1080px) {
    .Header-link {
        margin-right:0
    }
}

.Header-link {
    text-decoration: none;
    color: #333;
    font-size: 12px;
    line-height: 14.4px;
    text-align: center;
}

.Header-link>li{
  font-weight: 700;
  text-align: center;
}

.Header-link>li:first-child {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 14.4px;
}

.Header-link>li:last-child{
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .Header-button {
      transition: opacity 0.2s;
  }
}

.Header-button {
    color: #ffffff;
    background-color: #f79214;
    border: none;
    display: flex;
    flex-direction: column;
    font-weight:700;
    font-size: 12px;
    height: 40px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    border-radius: 38px;
}

.HeaderLogo:hover {
  opacity: 0.7;
}

.Header-link:hover {
  opacity: 0.7;
}

.Header-button:hover {
    background-color: #f7911478;
}


@media screen and (max-width: 1080px) {
.list_item {
     display:none
}
}

@media screen and (max-width: 1080px) {
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position:relative;
    width: 24px;
    height: 17px;
    margin: auto;
    z-index: 100;
}
.HeaderNavHamburger__line:first-child {
    top: 0;
}
.HeaderNavHamburger__line:last-child {
    top: 100%;
}
.HeaderNavHamburger__line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #a2a2a4;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
}
}

main {
    display: block;
}

@media screen and (max-width: 1080px) {
main {
    padding-top: 60px;
}
}

@media screen and (max-width: 767px) {
main {
    padding-top: 52px;
}   
}

.FirstView {
    position: relative;
    height: 739px;
}

@media screen and (max-width: 767px) {
.FirstView {
    height: fit-content;
}
}

.FirstView__bg-image--left-rectangle {
    top: -70px;
    left: 0;
}

.FirstView__bg-image--right-rectangle {
    right: 0;
    bottom: 70px;
}

.FirstView__bg-image--fill-rectangle {
    top: 84px;
    left: -70px;
}

.FirstView__bg-image--main-visual {
    top:  -70px;
    right: 0;
    width: 775px;
}

.FirstView__whole-image {
    display: none;
} 

.FirstView__bg-image {
    position: absolute;
    z-index: -1;
}


img {
    border: 0;
    vertical-align: middle;
}

.FirstView-container {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 219px;
}


.FirstViewContent {
    position: relative;
    width: fit-content;
}

.FirstView-title {
    color: #333;
    font-family: "Lato",sans-serif;
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 16px;
}
.FirstViewContent__badge-image {
    position: absolute;
    top: -105px;
    right: -150px;
}

@media screen and (max-width: 767px) {
.FirstViewContent__badge-image {
    height: 102px;
    width: 102px;
    top: -20px;
    right: -85px;
}
}


.FirstView-button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    font-size:  16px;
    font-weight: 700;
    display: flex;
    
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin-bottom: 16px;
    flex-direction: column;
} 

.FirstView-button:hover {
    background-color: #f79114aa;
}

.FirstViewContent-caption {
    font-size: 12px;
    line-height: 16px;
}

@media screen and (max-width: 1080px) {
    .FirstView__bg-image--fill-rectangle { 
        max-width: none;   
        padding-left: 36px;
        padding-right: 36px;
    }
    }    

@media screen and (max-width: 767px){
    .FirstView-container {
        padding-top: 0;
        padding-bottom: 20px; 
    }
    .FirstView__whole-image {
        display: block;
        margin-bottom: 7px;
        width: 100%;
    }
    .FirstView__bg-image {
        display: none;
    }
    .FirstView-title {
        font-size: 22px;
        line-height: 36px;
        position: relative;
        width: fit-content;
    }
    }

    @media screen and (max-width: 320px) {
        .FirstView-container {    
        padding-left: 5px;
    }
    }